* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#score {
    width: 90%;
    margin: auto;
    height: 250px;
    background-color: rgba(32, 32, 79, 0.499);
}

#score h2 {
    margin-top: 20px;
    text-align: center;
}

#score_container {
    display: flex;
    justify-content: space-around;
}
.score_box {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    background-color: rgba(98, 34, 24, 0.484);
}

.score_box > #player_score, #computer_score {
    text-align: center;
    font-size: 90px;
}

#rps_buttom {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

button {
    margin: auto;
}

.button_content {
    width: 200px;
    height: 300px;
    background-color: rgba(165, 42, 42, 0.401);
}

#turn_result {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(20, 113, 113, 0.566);
}